section {
	width: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.form {
	padding: 10px 25px;
	margin-top: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.main {
	height: calc(100vh - 106px);
	width: 100%;
	overflow-x: hidden;
}

.main__row {
	height: 100%;
	margin: 0;
}

.messages-block {
	height: 100%;
	border-right: 1px solid rgba(0, 0, 0, .125);
	overflow-y: scroll;
}

.canvas-container {	
	box-sizing: border-box;
	height: 100%;
	overflow-y: scroll;
}

.canvas-wrapper {
	width: 600px;
	margin: 30px auto;
	position: relative
}

.canvas {
	display: block;

	cursor: url('../images/edit.svg'), auto;

	background-color: white;
}

.add-space-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 40px;
	height: 40px;
	padding: 0;
	border-radius: 20px;
	border: none;

	color: white;

	cursor: pointer;

	position: absolute;
	right: 30px;
	bottom: -20px;
}

.add-space-btn__icon {
	font-size: 30px;
}

.erase-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0;
	border-radius: 20px;
	border: none;

	color: white;

	cursor: pointer;

	position: absolute;
	right: 80px;
	bottom: -20px;	
}

.erase-btn__icon {
	font-size: 30px;
}

#palette {
	display: inline-block;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;

	position: absolute;
}

#invisibility i {
	display: inline-block;
	margin-right: 20px;
}

.features__visibility-btn {
	display: flex;
	align-items: center;
	justify-content: center;

	position: sticky;
}

.message {
	display: flex;
	flex-direction: row;

	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, .125);

	position: relative;

	background-color: #fff;

	transition: all .5s ease;
}

.message--new {
	background-color: #ffb;
}

.message__header {
	display: flex;
	align-items: center;

	margin-bottom: 10px;
}

.message__content {
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
}

.message__like-btn {
	display: flex;
	align-items: center;

	background-color: none;
	border: none;
	padding: 5px 5px 0 0;
	margin: 0;

	background-color: transparent;

	position: absolute;
	top: 0;
	right: 0;

	cursor: pointer;
}

.message__like-amount {
	display: inline-block;
	margin-right: 4px;

	font-size: 14px;
	color: #e2e6ea;
}

.message__like-heart {
	font-size: 16px;
	color: #e2e6ea;
}

.message__like-amount--liked {
	color: #a2a6aa;
}

.message__like-heart--liked {
	color: #a2a6aa;
}

.notifications {
	position: fixed;
	bottom: 0;
	left: 0;

	width: 100%;
}

.notifications__wrapper {
	width: 600px;
	margin: 0 auto;
}

.write-valentine-btn {
	display: none;
}

@media only screen and (max-width: 960px) {
	.notifications__wrapper {
		width: 95%;
	}

	.left-column {
		min-width: 100%;
		max-width: 100%;
	}

	.right-column {
		display: none;
	}

	.write-valentine-btn {
		display: block;
	}

	.form {
		display: none;

		background-color: white;

		position: fixed;
		top: 25px;
		left: 0;
		width: 100%;
		height: calc(100% - 25px);
		z-index: 999;
	}

	.form--opened {
		display: block;
	}

	.form form {
		flex-direction: column;
	}

	.form .form-group {
		max-width: 100%;
	}
}
